html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: 'Roboto', Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: white;
  background-color: #141414;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', Verdana, sans-serif;
}

p {
  line-height: 1.25rem;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.5rem;

}

h6 {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}

.profile {
  width: 200px;
  border-radius: 100px;
  border: 2px solid #25AAFF;
}

.accent {
  color: #25AAFF
}

.content {
  width: 50vw;
  background-color: #252525;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  color: #25AAFF;
}

a {
  text-decoration: underline;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 90%;
  margin: 1rem;
}

section p {
  line-height: 1.5rem;
}

section ul,ol {
  padding-left: 1vw;
}

section li {
  line-height: 1.25rem;
}

@media (max-width: 992px) {
  .content {
    width: 100%;
  }
  .profile {
    width: 50vw;
    border-radius: 25vw;
    border: 2px solid #25AAFF;
  }
}